
{% load static %}
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span>Discover The Fashion Within You.</span>
          </div>
        </div>
      </div>
    </div>

<link rel="stylesheet" href="{% static '/css/fontawesome.css'%}">
<link rel="stylesheet" href="{% static '/css/tooplate-main.css'%}">

<link rel="stylesheet" href="{% static 'css/cartnew.css'%}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Shopping Cart<small>  </small></div>
                    {% for i in ci %}
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">

                                <div class="cart_item_image"><img src="{{i.prodt.img.url}}"alt="{{i.prodt.name}}"style="height:80;width:130"></div>
                                  <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <a href="{% url 'cartdelete' i.prodt.id%}"><i class="fa fa-trash-o" style="font-size:38px;color:red"></i></a><div class="cart_item_title">Name</div>
                                       <div class="cart_item_text"><a href="{{i.prodt.get_url}}">{{i.prodt.name}}</a><br> Product ID:{{i.prodt.id}}</div>
                                    </div>
                                    <div class="cart_item_color cart_info_col">
                                        <div class="cart_item_title">Description</div>
                                        <div class="cart_item_text"><span style="background-color:#999999;"></span>

                                        </div>
                                    </div>
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Quantity</div>
                                        <div class="cart_item_text"><a href="{% url 'addcart' i.prodt.id%}"><i class="fa fa-plus" style="font-size:14px"></i></a>&nbsp;&nbsp;{{i.quan}}&nbsp;&nbsp;<a href="{% url 'cartmin' i.prodt.id%}"><i class="fa fa-minus" style="font-size:14px"></i></a> </div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Price</div>
                                        <div class="cart_item_text">{{i.total}}</div>
                                    </div>

<!--                                    <div class="cart_item_total cart_info_col">-->
<!--                                        <div class="cart_item_title">Total</div>-->
<!--                                        <div class="cart_item_text">₹</div>-->
<!--                                    </div>-->
                                      </div>
                                 </li>
                        </ul>
{% endfor %}
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount">₹{{t}}</div>
                        </div>
                    </div>

                    <div class="cart_buttons"></a> <button type="button" class="button cart_button_clear"> Continue Shopping</button><button type="button" class="button cart_button_checkout">Checkout</button></div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>